<!DOCTYPE html>
<html style= "height: 100%">
	<head>
		<meta charset="UTF-8">

		<title>Superfancy ExtJS App!</title>

		<link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/5.0.0/build/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css">
		<script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.0.0/build/ext-all.js"></script> 
		
		{% load staticfiles %}
		<script type="text/javascript" src="{% static "frontend/frontend.js" %}"></script>
	</head>

	<body style= "height: 100%">
		<noscript>Ohne Javascript ist hier nix los.</noscript>
	</body>
</html>
